#######################
#   Neopixel LED'S    #
#######################

[neopixel TOOL_LIGHTS]
pin: PA8
#   The pin connected to the neopixel. This parameter must be
#   provided.
chain_count: 6
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5
#initial_WHITE: 0.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.


[gcode_macro LIGHTS_ON]
description: Helper: Light on
gcode:
    {% set R = params.R|default(0.2)|float %}
    {% set G = params.G|default(0.2)|float %}
    {% set B = params.B|default(0.2)|float %}
    {% set I = params.I|default(0)|int %}
    {% set T = params.T|default(1)|int %}
    SET_LED LED=TOOL_LIGHTS RED={R} GREEN={G} BLUE={B} TRANSMIT={T}

[gcode_macro LIGHTS_OFF]
description: Helper: Light off
gcode:
    {% set R = params.R|default(0)|float %}
    {% set G = params.G|default(0)|float %}
    {% set B = params.B|default(0)|float %}
    {% set I = params.I|default(0)|int %}
    {% set T = params.T|default(1)|int %}
    SET_LED LED=TOOL_LIGHTS RED={R} GREEN={G} BLUE={B} TRANSMIT={T}

[gcode_macro LIGHTS_BLUE]
description: Helper: Light Blue
gcode:
    {% set R = params.R|default(0)|float %}
    {% set G = params.G|default(0)|float %}
    {% set B = params.B|default(0.2)|float %}
    {% set I = params.I|default(0)|int %}
    {% set T = params.T|default(1)|int %}
    SET_LED LED=TOOL_LIGHTS RED={R} GREEN={G} BLUE={B} TRANSMIT={T}


[gcode_macro LIGHTS_RED]
description: Helper: Light Red
gcode:
    {% set R = params.R|default(0.2)|float %}
    {% set G = params.G|default(0)|float %}
    {% set B = params.B|default(0)|float %}
    {% set I = params.I|default(0)|int %}
    {% set T = params.T|default(1)|int %}
    SET_LED LED=TOOL_LIGHTS RED={R} GREEN={G} BLUE={B} TRANSMIT={T}

[gcode_macro LIGHTS_GREEN]
description: Helper: Light Green
gcode:
    {% set R = params.R|default(0)|float %}
    {% set G = params.G|default(0.2)|float %}
    {% set B = params.B|default(0)|float %}
    {% set I = params.I|default(0)|int %}
    {% set T = params.T|default(1)|int %}
    SET_LED LED=TOOL_LIGHTS RED={R} GREEN={G} BLUE={B} TRANSMIT={T}